<!-- Wrapper-->
<div id="wrapper wrapper-content animated fadeInRight" ng-controller="AppCreateEditCtrl as controller">


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <br/>
                <li>
                    <span>App Management</span>
                </li>
                <li class="active">
                    <strong>{{controller.isEdit ? "Edit" : "Create"}} App</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12 animated fadeInLeft" ng-show="controller.alert != null">
                <alert type="{{controller.alert.type}}" close="controller.alert=null">
                    <strong>{{controller.alert.title}}</strong> {{controller.alert.message}}
                </alert>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{controller.isEdit ? "Edit" : "Create"}}</h5>

                        <div ng-if="controller.isEdit" class="ibox-tools">
                            <a ng-click="controller.delete()" class="btn btn-danger btn-xs">Delete</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal" name="form" novalidate>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Client</label>
                                <div class="col-sm-10">
                                    <input disabled type="text" class="form-control" value="{{controller.client.name}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group required" ng-class="{'has-error':form.name.$invalid && !form.name.$pristine}">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="controller.app.name" name="name" required>
                                    <small ng-show="form.name.$invalid && !form.name.$pristine" class="help-block animated fadeInLeft">Name is required.</small>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Platform</label>
                                <div class="col-sm-10">
                                    <div class="m-t-xs">
                                        <label>
                                            <input icheck type="radio" name="platform" ng-model="controller.app.platform" value="ios"> iOS </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="platform" ng-model="controller.app.platform" value="android"> Android </label>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Version</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                    <small>Specific version manually or read it from upload .plist (ios) or .txt (android)</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Last Update</label>
                                <div class="col-sm-10">
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time ng-model="controller.app.lastupdate" view="year" max-view="year" min-view="date" auto-close="true">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <small>Specific last update date manually or read it from upload last-modified-date of .plist (ios) or .txt (android)</small>
                                </div>
                                <!--
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                    <small>Specific last update date manually or read it from upload last-modified-date of .plist (ios) or .txt (android)</small>
                                </div>
-->
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button class="btn btn-primary"><i class="fa fa-upload"></i> Upload</button>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Authencation</label>
                                <div class="col-sm-10">
                                    <div class="m-t-xs">
                                        <label>
                                            <input icheck type="checkbox" name="downloadrequireauthencation" ng-model="controller.app.downloadrequireauthencation"> Require </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input ng-disabled="!controller.app.downloadrequireauthencation" type="text" class="form-control" ng-model="controller.app.downloadusername" name="downloadusername">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input ng-disabled="!controller.app.downloadrequireauthencation" type="text" class="form-control" ng-model="controller.app.downloadpassword" name="downloadpassword">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Binary Source</label>
                                <div class="col-sm-10">
                                    <div class="m-t-xs">
                                        <label>
                                            <input icheck type="checkbox" name="autobinarysrc" ng-model="controller.autobinarysrc"> Auto generate </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input ng-disabled="controller.autobinarysrc" type="text" class="form-control" ng-model="controller.app.binarysrc">
                                    <small>Specific binary source manually or auto generate base on client and app name</small>
                                </div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Provision Expire</label>
                                <div class="col-sm-10">
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time ng-model="controller.app.provisionexpire" view="year" max-view="year" min-view="date" auto-close="true">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <small>Specific provision expire manually or read it from upload .mobileprovision(ios only)</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button class="btn btn-primary"><i class="fa fa-upload"></i> Upload</button>
                                </div>
                            </div>


                            <!--
                                                                 <div class="form-group">
    <label class="col-sm-2 control-label">PList</label>
    <div class="col-sm-10">
        <input disabled type="text" class="form-control" value="{{controller.plistsrc(controller.app)}}">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Download</label>
    <div class="col-sm-10">
        <input disabled type="text" class="form-control" value="{{controller.downloadsrc(controller.app)}}">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Version</label>
    <div class="col-sm-10">
        <input disabled type="text" class="form-control" value="{{controller.versionsrc(controller.app)}}">
    </div>
</div>
-->

                            <!--
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Version</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="controller.app.versionsrc" name="versionsrc">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Created By</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="controller.user.createdBy">
                                </div>
                            </div>
-->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white" type="submit" ui-sref="index.client-edit({objectId:controller.client.data.id})">Back</a>
                                    <button class="btn btn-primary" type="submit" ng-click="controller.save()" ng-disabled="form.$invalid">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Create -->


            </div>
        </div>
    </div>


</div>